{% block header_wrapper %}

<header role="banner">


{% block header_account %}
  <header class="account-masthead" style="background:none">
    <div class="">
      {% if c.userobj %}
        <div class="account avatar authed ceres-account-header" data-module="me" data-me="{{ c.userobj.id }}">
          <ul class="unstyled">
            {% block header_account_logged %}
            {% if c.userobj.sysadmin %}
              <li>
                <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                  <i class="icon-legal"></i>
                </a>
              </li>
            {% endif %}
            <li>
              <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                <span class="username">{{ c.userobj.display_name }}</span>
              </a>
            </li>
            {% set new_activities = h.new_activities() %}
            <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
              {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
              <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                <i class="icon-dashboard"></i>
                <span>{{ new_activities }}</span>
              </a>
            </li>
            <li>
              <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                <i class="icon-cog"></i>
              </a>
            </li>
            <li>
              <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                <i class="icon-signout"></i>
              </a>
            </li>
            {% endblock %}
          </ul>
        </div>
      {% else %}
        <nav class="account not-authed ceres-account-header">
          <ul class="unstyled">
            {% block header_account_notlogged %}
            <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
            <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
            {% endblock %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </header>
{% endblock %}


	<div class="phone_hdr">
		<div class="phone_hd_left">
			<a class="p_h_button p_h_menu" onclick="toggle_menu();"><img src="/catemplate/imgs/clear.gif" alt="Menu" /></a>
		</div>
		<div class="phone_hd_right">
			<a class="p_h_button p_h_contact" href="/staff"><img src="/catemplate/imgs/clear.gif" alt="Contact Us" /></a>
		</div>
		<div class="logo_and_banner">
			<div class="head_cagov_logo"><a href="http://www.ca.gov/"><img src="/catemplate/imgs/header_ca.gov.png" alt="CA.gov" /></a></div>
			<div class="head_organization_banner">
				<div class="ceres-logo sub-logo">California Natural Resources Agency</div>
				<div class="ceres-logo main-logo">CERES</div>
			</div>
		</div>
	</div>

	<nav id="navigation" class="mininav">
		<ul id="nav_list">
			<li><a href="http://ceres.ca.gov" class="nav_level1_link"><span id="nav_home_container"></span> <img src="/catemplate/imgs/clear.gif" alt="Home" /></a>
			</li>
			<li><a href="http://ceres.ca.gov/search" class="nav_level1_link">Search</a>
			</li>
			<li><a href="http://ceres.ca.gov/maps" class="nav_level1_link">Maps</a>
			</li>
			<li><a href="" class="nav_level1_link">Contribute Data</a>
			</li>
			<li><a href="http://ceres.ca.gov/about" class="nav_level1_link">About Us</a>
			</li>
			<li><a class="nav_level1_link">More</a>
				<div class="nav_panel">
					<ul>
						<li><a href="http://portal.gis.ca.gov/geoportal/">California GeoPortal</a></li>
						<li><a href="/staff">Contact</a></li>
						<li><a href="http://resources.ca.gov">California Natural Resources Agency</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
	<div id="img_ribbon"></div>
</header>


{% endblock %}


