{% ckan_extends %}

{# Remove 'free extras' from the package form. If you're using
convert_to/from_extras() as we are with our 'custom_text' field below then
you need to remove free extras from the form, or editing your custom field
won't work.
#}



 
{% block package_metadata_fields %}



  <!-- Currently the harvest plugin breaks if there are no extra fields -->

    {% block custom_fields %}
      {% snippet 'snippets/extras_to_json.html', extras=data.extras, errors=errors, limit=3 %}
    {% endblock %}


     <h4 style="border-bottom:1px solid #ccc;margin:35px 0 15px 0;color:#666">CERES Extras</h4>

<div class="control-group">
  <label class="control-label" extra-label="pkg_type">{{ _("Type") }}</label>
  <div class="controls">
    <select extra-name="pkg_type">
      <option value=""></option>
      <option value="Raw Data" >Raw Data</option>
      <option value="Tool" >Tool</option>
      <option value="Geospatial">Geospatial</option>
      <option value="Document"  >Document</option>
      <option value="Other" >Other</option>
    </select>
  </div>
</div>

{% set Topic_attrs = {'data-module': 'autocompleteV3', 'data-module-source': '/api/3/action/tag_autocomplete?vocabulary_id=Topic&query=?'} %}
{{ form.input('Topic', id='field-Topic', label=_('Topics**'), value=data.Topic, error=errors.Topic, classes=['control-full'], attrs=Topic_attrs) }}


{% set Partner_attrs = {'data-module': 'autocompleteV3', 'data-module-source': '/api/3/action/tag_autocomplete?vocabulary_id=Partner&query=?'} %}
{{ form.input('Partner', id='field-Topic', label=_('Partners**'), value=data.Partner, error=errors.Partner, classes=['control-full'], attrs=Partner_attrs) }}


{% set Location_attrs = {'data-module': 'autocompleteV3', 'data-module-tags': '', 'data-module-source': '/api/3/action/tag_autocomplete?vocabulary_id=Location&query=?'} %}
{{ form.input('Location', id='field-Location', label=_('Locations**'), placeholder=_('eg. yolo, yuba river'), value=data.Location, error=errors.Location, classes=['control-full'], attrs=Location_attrs) }}




<div class="control-group">
  <label class="control-label" extra-label="currentness">{{ _("Currentness") }}</label>
  <div class="controls">
    <select extra-name="currentness" >
      <option value=""></option>
      <option value="Ground Condition">Ground Condition</option>
      <option value="Publication Date">Publication Date</option>
    </select>
  </div>
</div>


<div class="control-group">
  <label class="control-label" extra-label="progress">{{ _("Progress") }}</label>
  <div class="controls">
    <select extra-name="progress">
      <option value=""></option>
      <option value="Complete">Complete</option>
      <option value="On Going">On Going</option>
      <option value="None Planned">None Planned</option>
    </select>
  </div>
</div>

<div class="control-group">
  <label class="control-label" extra-label="update_frequency">{{ _("Update Frequency") }}</label>
  <div class="controls">
    <select extra-name="update_frequency">
      <option value=""></option>
      <option value="As needed">As needed</option>
      <option value="Irregular">Irregular</option>
      <option value="Annually">Annually</option>
      <option value="None Planned">None Planned</option>
    </select>
  </div>
</div>

<div class="control-group">
  <label class="control-label" extra-label="use_constraints">{{ _("Use Constraints") }}</label>
  <div class="controls">
    <input type="text" extra-name="use_constraints" />
  </div>
</div>

<div class="control-group">
  <label class="control-label" extra-label="spatial">{{ _("Bounding Box") }}</label>
  <div class="controls">
    <input type="text" style="display:none" extra-name="spatial" extra-type="spatial" extra-map="dataset-map"/>
    <div id="dataset-map" class="dataset-map"  data-module="create-dataset-map" data-default_extent="[[90, 180], [-90, -180]]" >
	  <div id="dataset-map-container"></div>
	  <div id="dataset-map-attribution">
	    <div>Map data CC-BY-SA by <a href="http://openstreetmap.org">OpenStreetMap</a></div>
	    <div>Tiles by <a href="http://www.mapquest.com">MapQuest</a></div>
	  </div>
	</div>
  </div>
</div>



    <div class="control-group">
	  <div class="controls">
	    <label class="checkbox">
	      <input extra-name="pub_to_datagov" type="checkbox" >
	      Published to <a target='_blank' href='http://catalog.data.gov/dataset'>DATA.gov</a>
	    </label>
	  </div>
	</div>
	
	<div class="control-group">
	  <div class="controls">
	    <label class="checkbox">
	      <input extra-name="pub_to_cageoportal" type="checkbox" >
	      Published to the <a target='_blank' href='http://portal.gis.ca.gov'>State Geoportal</a>
	    </label>
	  </div>
	</div>

    <div class="alert alert-info">
        <b>**</b> These are controlled vocabularies and you must select from the list provided.  If you wish to add
        additional keywords, please do so in 'Tags' list.  You are free to add any terms you wish in the 'Tags' list.
        If you feel strongly that a term is missing from a controlled vocabulary, please contact us at
        <a href="mailto:help@ceres.ca.gov" target="_blank">help@ceres.ca.gov</a>.
    </div>


        <h4 style="border-bottom:1px solid #ccc;margin:35px 0 15px 0;color:#666">CKAN Extras</h4>
        {{ super() }}

{% resource 'ceres/ceres_js' %}
{% resource 'ckanext-spatial/spatial_query' %}

{% endblock %}
